// Colores
$color__white:#fff; 
$color__platinum:#e6e7e7; 
$color__light_gray:#d1d1d1; 

$color__fuzzy_wuzzy:#e56356; 
$color__ruddy_pink:#d76c69; 
$color__spanish_pink:#ecbcba; 

$color__eerie_black:#121619; 
$color__raisin_black:#222323; 
$color__nickel:#6c6e70; 

$font__size_x_large:30px;
$font__size_large:18px;
$font__size_medium:16px;
$font__size_small:12px;

$font__primary: 'Playfair Display', serif;
$font__secondary: 'Roboto', sans-serif;